{template 'web/_header'}

<div class="web-statistics-index">
    <div class="panel panel-info">
        <div class="panel-heading">信息统计</div>
        <div class="panel-body">
            <form class="statistics-form" method="post"
                  action="{php echo $this->wUrl('statistics/web_statistics_index/statistics');}">
                <div class="form-group">
                    <label class="control-label col-md-2">部门</label>
                    <label class="col-sm-9 col-xs-12 superior">
                        <select class="superior form-control" name="superior">
                            <option class="item" value="0">请选择部门</option>
                            {loop $departments $item}
                            {if $item['superior_id'] == 0}
                            <option class="item" value="{$item['id']}"
                                    {if $item['id'] == $superior}selected{/if}>{$item['name']}</option>
                            {/if}
                            {/loop}
                        </select>
                    </label>
                    <label class="col-sm-9 col-xs-12 subordinate">
                        <select class="subordinate form-control" name="subordinate"
                                style="display: {if $subordinate}block{else}none{/if};">
                            <option class="item" value="0">请选择二级部门</option>
                            {loop $departments $item}
                            {if $item['superior_id'] > 0}
                            <option class="item superior-{$item['superior_id']}"
                                     {if $item['id'] == $subordinate}selected{/if}
                                    value="{$item['id']}">{$item['name']}</option>
                            {/if}
                            {/loop}
                        </select>
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">工号</label>
                    <label class="col-sm-9 col-xs-12">
                        <input type="text" class="form-control"
                               name="employee_id"
                               value="{php echo $employee_id ?: '';}" />
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">姓名</label>
                    <label class="col-sm-9 col-xs-12">
                        <input type="text" class="form-control"
                               name="employee_name"
                               value="{php echo $employee_name ?: '';}" />
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">时间</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_daterange('time', array('starttime' => ($start_time ? date('Y-m-d', $start_time) : date('Y-m-d', time())),'endtime'=> ($end_time ? date('Y-m-d', $end_time) : date('Y-m-d', time()))));}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2"></label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="submit" class="btn btn-primary col-lg-1"
                               name="statistics" value="统计" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    {if !empty($result['employees'])}
    <div class="panel panel-default">
        <div class="panel-heading">拓展粉丝总数：{$result['all_fans_count']}</div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead class="navbar-inner">
                <tr>
                    <!--<th class="avatar">头像</th>-->
                    <th class="employee-id">工号</th>
                    <th class="employee-name">姓名</th>
                    <th class="department">部门</th>
                    <th class="fans-count">拓展粉丝数</th>
                    <!--<th class="action">粉丝详情</th>-->
                    <!--<th></th>-->
                </tr>
                </thead>
                <tbody>
                {loop $result['employees'] $item}
                <tr class="member-{$item['uid']}">
                    <!--<td><img class="avatar" src="{$item['avatar']}" /></td>-->
                    <td>{$item['employee_id']}</td>
                    <td>{$item['employee_name']}</td>
                    <td>{$item['department']}</td>
                    <td>{php echo count($item['fans']);}</td>
                    <!--<td class="action">-->
                        <!--<a class="add btn btn-default"-->
                           <!--href="javascript:;"-->
                           <!--data-uid="{$item['uid']}"-->
                           <!--data-nickname="{$item['nickname']}"-->
                           <!--data-url="{php echo $this->wUrl('employee/web_employee_add/add');}">查看</a>-->
                    <!--</td>-->
                    <!--<td></td>-->
                </tr>
                {/loop}
                </tbody>
            </table>
            {$pager}
        </div>
    </div>
    {/if}
</div>