		{if empty($footer_off)}
			<div class="text-center footer" style="margin:10px 0; width:100%; text-align:center; word-break:break-all;">
                {if 0}
				{if !empty($_W['page']['footer'])}
					{$_W['page']['footer']}
				{else}
					{if IMS_FAMILY != 'x'}<a href="http://www.we7.cc">关于微擎</a>&nbsp;&nbsp;<a href="http://bbs.we7.cc">微擎帮助</a>{/if}
				{/if}
				&nbsp;&nbsp;{$_W['setting']['copyright']['statcode']}
				{/if}
			</div>
		{/if}
		{if $_GPC['c'] == 'home' && $_GPC['a'] == 'page'}
			{if $bottom_menu}
				{data func="site_quickmenu"}{/data}
			{/if}
		{else}
			{if $_GPC['m'] != 'paycenter'}
				{data func="site_quickmenu"}{/data}
			{/if}
		{/if}
	</div>
	<style>
		h5{color:#555;}
	</style>
	<?php
		$_share['title'] = !empty($_share['title']) ? $_share['title'] : $_W['account']['name'];
		$_share['imgUrl'] = !empty($_share['imgUrl']) ? $_share['imgUrl'] : '';
		if(isset($_share['content'])){
			$_share['desc'] = $_share['content'];
			unset($_share['content']);
		}
		$_share['desc'] = !empty($_share['desc']) ? $_share['desc'] : '';
		$_share['desc'] = preg_replace('/\s/i', '', str_replace('	', '', cutstr(str_replace('&nbsp;', '', ihtmlspecialchars(strip_tags($_share['desc']))), 60)));
		if(empty($_share['link'])) {
			$_share['link'] = '';
			$query_string = $_SERVER['QUERY_STRING'];
			if(!empty($query_string)) {
				parse_str($query_string, $query_arr);
				$query_arr['u'] = $_W['member']['uid'];
				$query_string = http_build_query($query_arr);
				$_share['link'] = $_W['siteroot'].'app/index.php?'. $query_string;
			}
		}
	?>
	<script type="text/javascript">
	$(function(){
		wx.config(jssdkconfig);
		var $_share = {php echo json_encode($_share);};
		if(typeof sharedata == 'undefined'){
			sharedata = $_share;
		} else {
			sharedata['title'] = sharedata['title'] || $_share['title'];
			sharedata['desc'] = sharedata['desc'] || $_share['desc'];
			sharedata['link'] = sharedata['link'] || $_share['link'];
			sharedata['imgUrl'] = sharedata['imgUrl'] || $_share['imgUrl'];
		}
		if(sharedata.imgUrl == ''){
			var _share_img = $('body img:eq(0)').attr("src");
			if(_share_img == ""){
				sharedata['imgUrl'] = window.sysinfo.attachurl + 'images/global/wechat_share.png';
			} else {
				sharedata['imgUrl'] = util.tomedia(_share_img);
			}
		}
		if(sharedata.desc == ''){
			var _share_content = util.removeHTMLTag($('body').html());
			if(typeof _share_content == 'string'){
				sharedata.desc = _share_content.replace($_share['title'], '')
			}
		}

		/**
		 * 顺德农行员工管理模块，分享文章，拓展粉丝
		 */
		var employee_transmit = function(share_link) {
			/**
			 * Get the param from URL
			 * @param param
			 * @returns {number}
			 */
			var getUrlParam = function(param) {
				var reg = window.location.search.match("(^|&)" + param + "=([^&]*)(&|$)");
				return reg ? decodeURI(reg[2]) : 0;
			};
			var is_transmit = window.location.search.indexOf('&employee_uid=');
			var employee_uid = getUrlParam('employee_uid');
			var member_uid = {$_W['member']['uid']};
            var article_id = getUrlParam('id');
			if (member_uid) {
				$.ajax({
					type: 'POST',
					url: "{php echo murl('entry//transmit', array('m' => 'sdabc', 'cn' => 'mobile_employee_transmit', 'cm' => 'transmit'));}",
					async: false,
					data: {
						'is_transmit': is_transmit,
						'employee_uid': employee_uid,
						'member_uid': member_uid,
						'article_id': article_id
					},
					success: function(data) {
					    // When the current is a employee, the uid will be return
						if (data) {
							if (is_transmit > 0) {
								share_link = share_link.replace(/employee_uid=([0-9]*)/, 'employee_uid=' + data);
							} else {
								share_link += '&employee_uid=' + data
							}
						}
					}
				});
			}
			return share_link;
		};
		sharedata['link'] = employee_transmit(sharedata['link']);
		/** -- END -- */

		wx.ready(function () {
			wx.onMenuShareAppMessage(sharedata);
			wx.onMenuShareTimeline(sharedata);
			wx.onMenuShareQQ(sharedata);
			wx.onMenuShareWeibo(sharedata);
		});
		{if $controller == 'site' && $action == 'site'}
			$('#category_show').click(function(){
				$('.head .order').toggleClass('hide');
				return false;
			});
			//文章点击和分享加积分
			{if !empty($_GPC['u'])}
				var url = "{php echo url('site/site/handsel/', array('id' => $detail['id'], 'action' => 'click', 'u' => $_GPC['u']), true);}";
				$.post(url, function(dat){});
			{/if}
			sharedata.success = function(){
				var url = "{php echo url('site/site/handsel/', array('id' => $detail['id'], 'action' => 'share'));}";
				$.post(url, function(dat){});
			};
		{/if}
		if($('.js-quickmenu')!=null && $('.js-quickmenu')!=''){
			var h = $('.js-quickmenu .nav-home').height()+20+'px';
			$('body').css("padding-bottom",h);
			$('body .mui-content').css("bottom",h);
		}else{
			$('body').css("padding-bottom",0);
			$('body .mui-content').css("bottom", "0");
		}
			
		if($('.nav-menu-app')!=null && $('.nav-menu-app')!=''){
			var h = $('.nav-menu-app').height()+'px';
			$('body').css("padding-bottom",h);
			$('.mui-content').css('bottom',h);
		}else{
			$('body').css("padding-bottom", "0");
			$('.mui-content').css('bottom', "0");
		}
	});
	</script>
</body>
</html>
