{template 'mobile/_header'}

<div class="mobile-employee-message {if !$employee}no-employee{/if}">
    {if $employee}
    <div class="header">
        <img class="avatar" src="{$employee['mc']['avatar']}" />
        <span class="id-name">{$employee['employee_name']}({$employee['employee_id']})</span>
    </div>
    <div class="msg-item department">
        <span class="text">部门</span>
        <span class="content">{$employee['department']}</span>
        <a class="action update-department" href="javascript:;">修改</a>
    </div>
    <div class="department-update-btn">
        <form class="department" method="post"
              action="{php echo $this->mUrl('message/mobile_employee_message/updateDepartment');}">
            <label class="department superior-department">
                <span class="show-layer superior">请选择部门</span>
                <select class="superior" name="superior_id">
                    <!--<option class="default" value="0">请选择部门</option>-->
                    {loop $departments $item}
                    {if $item['superior_id'] == 0}
                    <option value="{$item['id']}">{$item['name']}</option>
                    {/if}
                    {/loop}
                </select>
            </label>
            <label class="department subordinate-department">
                <span class="show-layer subordinate">请选择二级部门</span>
                <select class="subordinate" name="subordinate_id">
                    <!--<option class="default" value="0">请选择二级部门</option>-->
                    {loop $departments $item}
                    {if $item['superior_id'] > 0}
                    <option value="{$item['id']}" class="superior-{$item['superior_id']}">{$item['name']}</option>
                    {/if}
                    {/loop}
                </select>
            </label>
            <span class="action-btn cancel-btn">取消</span>
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="submit" class="action-btn submit" name="update_department" value="保存" />
        </form>
    </div>
    <div class="msg-item fans">
        <span class="text">推广粉丝</span>
        <span class="content">共 {$employee['real_fans_count']} 人</span>
        <a class="action check-fans" href="javascript:;">查询</a>
    </div>
    <div class="check-fans-btn">
        <form class="fans-count">
            <span class="title">推广粉丝数量查询</span>
            <div class="check-date">
                <label class="from-date">
                    <span>从</span>
                    <input type="text" id="from-date" name="from_date" readonly required>
                </label>
                <label class="to-date">
                    <span>到</span>
                    <input type="text" id="to-date" name="to_date" readonly required>
                </label>
            </div>
            <div class="check-result"></div>
            <span class="action-btn close-btn">关闭</span>
            <span class="action-btn check-btn"
                  data-url="{php echo $this->mUrl('message/mobile_employee_message/checkFansCount');}">查询</span>
        </form>
    </div>
    {else}
    <div class="no-employee-btn">
        <span class="tip">你还不是员工，请先注册成为员工！</span>
    </div>
    {/if}
</div>

<script>
    jQuery(function($) {

        var $depart = $('label select');
        // show the update department form
        $('.update-department').click(function() {
            $('.department-update-btn').show();
            $('.show-layer.superior').text('请选择部门').css('color', '#cccccc');
            $depart.val(0);
        });
        // Cancel
        $('.cancel-btn').click(function() {
            $('.department-update-btn').hide();
        });

        // When the select change, update the show layer text
        $depart.change(function() {
            // change the show layer text
            $(this).siblings('.show-layer').text($(this).find('option:selected').text())
                    .css('color', '#000000');
        });

        // When the superior department change,
        // and then show the opposite subordinate department
        $('select.superior').change(function() {
            // If the subordinate department is exist
            // show the opposite subordinate department
            var $subordinate = $('.subordinate-department');
            $subordinate.hide();
            $subordinate.val(0);
            $('.show-layer.subordinate').text('请选择二级部门').css('color', '#cccccc');
            var $subordinate_option = $subordinate.find('option');
            $subordinate_option.hide();
            if ($subordinate.find('option').hasClass('superior-' + $(this).val())) {
                $subordinate.css('display', 'block');
                $subordinate.find('option.superior-' + $(this).val()).show();
            }
        });

        // Check fans count
        $('#from-date, #to-date').datepicker({
            'dateFormat': 'yy-mm-dd'
        });
        // show the check button
        $('.check-fans').click(function() {
            $('.check-fans-btn').show();
        });
        // close
        $('.close-btn').click(function() {
            $('.check-fans-btn').hide();
        });
        // check
        $('.check-btn').click(function() {
            var from_date = $('input[name=from_date]').val();
            var to_date = $('input[name=to_date]').val();
            if (from_date && to_date) {
                $.ajax({
                    type: 'POST',
                    url: $(this).data('url'),
                    data: {
                        action: 'check_fans_count',
                        from_date: from_date,
                        to_date: to_date
                    },
                    success: function(data) {
                        $('.check-result').text(data);
                    }
                });
            }
        });
    });
</script>

{template 'mobile/_footer'}