{template 'mobile/_header'}

<div class="mobile-employee-qrcode">
    <!-- 员工二维码 -->
    {if $qrcode_type == 'employee'}
    {if isset($qrcode_url)}
    <div class="qrcode employee-qrcode" data-url="{$qrcode_url}"></div>
    {else}
    <div class="qrcode-error">
        <div class="tip tip-text">请先注册成为员工才能够获取二维码！</div>
    </div>
    {/if}
    {/if}
    <!-- 订阅号二维码 -->
    {if $qrcode_type == 'subscription'}
    <div class="qrcode">
        <img class="subscription-qrcode" src="{$qrcode_url}" />
    </div>
    {/if}
</div>

<script>
    // Generate employee qrcode
    var $qrcode_btn = $('.mobile-employee-qrcode .employee-qrcode');
    $qrcode_btn.qrcode({
        render: 'canvas',
        text: $qrcode_btn.data('url')
    });
</script>


{template 'mobile/_footer'}