{template 'mobile/_header'}

<div class="mobile-employee-register {if $employee}is-employee{/if}">
    {if !$employee}
    <form class="register-form" method="post" action="{$form_url}">
        <label class="work-id">
            <input type="text" class="employee-id" required
                   name="employee[employee_id]"
                   placeholder="工号" />
        </label>
        <label class="work-name">
            <input type="text" class="employee-name" required
                   name="employee[employee_name]"
                   placeholder="姓名" />
            <span class="tips verify-tip"></span>
        </label>
        <span class="verify-employee"
              data-url="{php echo $this->mUrl('register/mobile_employee_register/verify');}">下一步</span>
        <!--<label class="name">-->
            <!--<input type="text" placeholder="真实姓名" name="employee[real_name]" />-->
        <!--</label>-->
        <!--<label class="department">-->
            <!--<input type="text" placeholder="所属部门" name="employee[department]" />-->
        <!--</label>-->
        <label class="department superior-department" style="display: none;">
            <span class="show-layer superior">请选择部门</span>
            <select class="superior" name="superior_department">
                {loop $departments $item}
                {if $item['superior_id'] == 0}
                <option class="department-{$item['id']}" value="{$item['id']}">{$item['name']}</option>
                {/if}
                {/loop}
            </select>
        </label>
        <label class="department subordinate-department" style="display: none;">
            <span class="show-layer subordinate">请选择二级部门</span>
            <select class="subordinate" name="subordinate_department">
                {loop $departments $item}
                {if $item['superior_id'] > 0}
                <option class="department-{$item['id']} superior-{$item['superior_id']}"
                        style="display: none;"
                        value="{$item['id']}">{$item['name']}</option>
                {/if}
                {/loop}
            </select>
        </label>
        <input type="hidden" name="token" value="{$_W['token']}" />
        <input type="submit" class="submit" name="submit" value="提交" />
    </form>
    {if isset($register_result)}
    <div class="register-result-tips">
        <div class="register-result-btn">
            <span class="tip tip-text">{$register_result}</span>
        </div>
    </div>
    {/if}
    {else}
    <div class="is-employee-btn">
        <span class="tip tip1">你已经是员工了哦！</span>
        <span class="tip tip2">工号：{$employee['employee_id']}</span>
    </div>
    {/if}
</div>

<script>
//    jQuery(function($) {
//        // Verify the employee id and name
//        $('.verify-employee').click(function() {
//            var employee_id = $('input.employee-id').val();
//            var employee_name = $('input.employee-name').val();
//            var post_url = $(this).data('url');
//            if (employee_id && employee_name && post_url) {
//                $.ajax({
//                    type: 'POST',
//                    url: post_url,
//                    data: {
//                        action: 'verify',
//                        employee_id: employee_id,
//                        employee_name: employee_name
//                    },
//                    success: function(data) {
//                        var result = JSON.parse(data);
//                        if (result['status'] == 'error') {
//                            $('.verify-tip').text(result['content']);
//                        }
//                        if (result['status'] == 'success') {
//                            $('.verify-tip').hide();
//                            $('.verify-employee').hide();
//                            $('label.superior-department').css('display', 'block');
//                            $('input[type=submit]').css('display', 'block');
//                        }
//                    }
//                });
//            }
//        });
//        // Chose superior department
//        // First set the value of select element to 0.
//        var $department = $('label select');
//        $department.val(0);
//        // When the select change, update the show layer text
//        $department.change(function() {
//            // change the show layer text
//            $(this).siblings('.show-layer').text($(this).find('option:selected').text())
//                    .css('color', '#000000');
//        });
//
//        // When the superior department change,
//        // and then show the opposite subordinate department
//        $('select.superior').change(function() {
//            // If the subordinate department is exist
//            // show the opposite subordinate department
//            var $subordinate = $('.subordinate-department');
//            $subordinate.hide();
//            var $subordinate_option = $subordinate.find('option');
//            $subordinate_option.hide();
//            if ($subordinate.find('option').hasClass('superior-' + $(this).val())) {
//                $subordinate.css('display', 'block');
//                $subordinate.find('option.superior-' + $(this).val()).show();
//            }
//        });
//    });
</script>

{template 'mobile/_footer'}