@import (less) "reset.min.css";
@import "template";

@bg-color: #e2e2e2;
@border: 1px solid #9b9b9b;

html {
  font-size: 5vw; background: @bg-color;
}


// mobile/employee/register.html
.mobile-employee-register {

  .register-form {
    margin: 4rem 0 0;
    label {
      display: block;
      input {
        display: block;
        margin: 1rem auto;
        width: 15rem;
        height: 2.5rem;
        box-sizing: border-box;
        border: @border;
        padding: 0 0.5rem;
        border-radius: 0.5rem;
      }
      &.work-name {
        position: relative;
        .tips {
          position: absolute;
          bottom: -0.6rem; left: 3rem;
          width: 15rem;
          font-size: 0.6rem;
          color: #ff0000;
        }
      }
      &.department {
        position: relative;
        margin: 1rem auto;
        width: 15rem;
        height: 2.5rem;
        border: @border;
        border-radius: 0.5rem;
        background: #fff;
        .show-layer {
          display: block;
          line-height: 2.5rem;
          text-indent: 0.5rem;
          font-size: 1rem;
          color: #9b9b9b;
        }
        select {
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          opacity: 0;
          width: 15rem;
          box-sizing: border-box;
          border: none;
          &.subordinate {
            option {
            }
          }
        }
        &.subordinate-department {
          display: none;
        }
      }
    }
    .verify-employee, input[type=submit] {
      display: block;
      margin: 1.5rem auto;
      width: 15rem;
      line-height: 2.5rem;
      box-sizing: border-box;
      border: none;
      border-radius: 0.5rem;
      background: #ff6600;
      text-align: center;
      font-size: 1.2rem;
      color: #fff;
      &.submit { display: none; }
    }
  }

  &.is-employee, .register-result-tips {
    position: fixed;
    .fixed-position(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.2);
    .is-employee-btn, .register-result-btn {
      margin: 5rem auto 0;
      background: #fff;
      width: 12rem;
      padding: 4rem 1rem;
      border-radius: 0.5rem;
      .box-shadow(0 0 1rem);
      .tip {
        display: block;
        margin: 1rem 0 0;
        text-align: center;
        font-size: 1rem;
        color: #545454;
      }
    }
  }

}

// mobile/employee/qrcode.html
.mobile-employee-qrcode {

  .qrcode {
    position: absolute;
    .fixed-position(0, 0, 0, 0);
    background: #fff;
    canvas, .subscription-qrcode {
      display: block;
      margin: 6rem auto 0;
      width: 15rem;
      height: 15rem;
    }
  }

  .qrcode-error {
    position: absolute;
    .fixed-position(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.3);
    .tip {
      margin: 6rem auto 0;
      width: 13rem;
      padding: 4rem 1rem;
      .box-shadow(0 0 1rem);
      border-radius: 0.5rem;
      background: #fff;
      text-align: center;
      line-height: 1.5rem;
      font-size: 1rem;
    }
  }

}

// mobile/employee/message.html
.mobile-employee-message {
  .header {
    padding: 1.5rem 2rem 1rem;
    background: #59c993;
    text-align: center;
    .avatar {
      display: block;
      margin: 0.5rem auto;
      width: 4rem; height: 4rem;
      border-radius: 50%;
    }
  }
  .msg-item {
    margin: 0.2rem 0;
    padding: 0 1rem;
    background: #fff;
    line-height: 2.5rem;
    font-size: 0.85rem;
    .text {
      float: left;
      width: 5rem;
    }
    .action {
      float: right;
      color: #ff6600;
    }
  }
  .department-update-btn {
    display: none;
    position: fixed;
    .fixed-position(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.2);
    form.department {
      margin: 4rem auto 0;
      background: #fff;
      width: 15rem;
      padding: 4rem 1rem 2rem;
      border-radius: 0.5rem;
      .box-shadow(0 0 1rem);
      .department {
        display: block;
        position: relative;
        margin: 1rem auto;
        width: 14rem;
        height: 2.3rem;
        border: @border;
        border-radius: 0.3rem;
        background: #fff;
        .show-layer {
          display: block;
          line-height: 2.5rem;
          text-indent: 0.5rem;
          font-size: 1rem;
          color: #9b9b9b;
        }
        select {
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          opacity: 0;
          width: 15rem;
          box-sizing: border-box;
          border: none;
          &.subordinate {
            option {
            }
          }
        }
        &.subordinate-department {
          display: none;
        }
      }
      .action-btn {
        display: inline-block;
        margin: 1rem 0 0 2rem;
        width: 4rem;
        height: 2rem;
        box-sizing: border-box;
        line-height: 2rem;
        border: none;
        border-radius: 0.3rem;
        background: #00a0e9;
        text-align: center;
        color: #fff;
      }
    }
  }
  .check-fans-btn {
    display: none;
    position: fixed;
    .fixed-position(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
    form.fans-count {
      margin: 4rem auto 0;
      background: #fff;
      width: 16rem;
      padding: 2rem 1rem;
      border-radius: 0.5rem;
      .box-shadow(0 0 1rem);
      .title {
        display: block;
        margin: 0.5rem 0 1rem;
        text-align: center;
        font-size: 1rem;
      }
      .check-date {
        text-align: center;
        label {
          input {
            width: 4.5rem;
            border-width: 0 0 1px 0;
            border-style: solid;
            border-color: #9b9b9b #00a0e9;
            text-align: center;
            font-size: 0.8rem;
          }
        }
      }
      .check-result {
        display: block;
        line-height: 6rem;
        text-align: center;
        font-size: 3.5rem;
        color: #ff6600;
      }
      .action-btn {
        display: inline-block;
        margin: 1rem 0 0 2rem;
        width: 4rem;
        height: 2rem;
        box-sizing: border-box;
        line-height: 2rem;
        border: none;
        border-radius: 0.3rem;
        background: #00a0e9;
        text-align: center;
        color: #fff;
      }
    }
  }
  &.no-employee {
    position: fixed;
    .fixed-position(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.2);
    .no-employee-btn {
      margin: 5rem auto 0;
      background: #fff;
      width: 12rem;
      padding: 4rem 1rem;
      border-radius: 0.5rem;
      .box-shadow(0 0 1rem);
      .tip {
        display: block;
        margin: 1rem 0 0;
        text-align: center;
        font-size: 1rem;
        color: #545454;
      }
    }
  }
}