/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
del {
  text-decoration: line-through;
}
input {
  font-size: inherit;
  color: inherit;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.pull-left,
.alignleft {
  float: left;
}
.pull-right,
.alignright {
  float: right;
}
.aligncenter {
  margin-left: auto;
  margin-right: auto;
}
.clear-fix {
  clear: both;
  zoom: 1;
}
.clear-fix::before {
  content: "";
  display: table;
}
.clear-fix::after {
  content: "";
  display: table;
  clear: both;
}
.float-wrapper {
  display: inline-block;
  width: 100%;
  zoom: 1;
}
.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.circle {
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
}
.font-content {
  font-family: '兰亭中黑', '兰亭纤黑', '兰亭特黑', '思源黑体', SYHT, 'Microsoft Yahei', '微软雅黑', Arial, Helvetica, sans-serif;
}
.font-content1 {
  font-family: '宋体', '兰亭中黑', '兰亭纤黑', '兰亭特黑', '思源黑体', SYHT, 'Microsoft Yahei', '微软雅黑', Arial, Helvetica, sans-serif;
}
.font-content2 {
  font-family: '方正姚体', '华文中宋', '兰亭纤黑', '兰亭中黑', '兰亭特黑', '思源黑体', SYHT, 'Microsoft Yahei', '微软雅黑', Arial, Helvetica, sans-serif;
}
.font-content3 {
  font-family: '华文中宋', '兰亭纤黑', '兰亭中黑', '兰亭特黑', '思源黑体', SYHT, 'Microsoft Yahei', '微软雅黑', Arial, Helvetica, sans-serif;
}
.test {
  background: #ff7d44;
}
.test1 {
  background: #ff6666;
}
html {
  font-size: 5vw;
  background: #e2e2e2;
}
.mobile-employee-register .register-form {
  margin: 4rem 0 0;
}
.mobile-employee-register .register-form label {
  display: block;
}
.mobile-employee-register .register-form label input {
  display: block;
  margin: 1rem auto;
  width: 15rem;
  height: 2.5rem;
  box-sizing: border-box;
  border: 1px solid #9b9b9b;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}
.mobile-employee-register .register-form label.work-name {
  position: relative;
}
.mobile-employee-register .register-form label.work-name .tips {
  position: absolute;
  bottom: -0.6rem;
  left: 3rem;
  width: 15rem;
  font-size: 0.6rem;
  color: #ff0000;
}
.mobile-employee-register .register-form label.department {
  position: relative;
  margin: 1rem auto;
  width: 15rem;
  height: 2.5rem;
  border: 1px solid #9b9b9b;
  border-radius: 0.5rem;
  background: #fff;
}
.mobile-employee-register .register-form label.department .show-layer {
  display: block;
  line-height: 2.5rem;
  text-indent: 0.5rem;
  font-size: 1rem;
  color: #9b9b9b;
}
.mobile-employee-register .register-form label.department select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 15rem;
  box-sizing: border-box;
  border: none;
}
.mobile-employee-register .register-form label.department.subordinate-department {
  display: none;
}
.mobile-employee-register .register-form .verify-employee,
.mobile-employee-register .register-form input[type=submit] {
  display: block;
  margin: 1.5rem auto;
  width: 15rem;
  line-height: 2.5rem;
  box-sizing: border-box;
  border: none;
  border-radius: 0.5rem;
  background: #ff6600;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
}
.mobile-employee-register .register-form .verify-employee.submit,
.mobile-employee-register .register-form input[type=submit].submit {
  display: none;
}
.mobile-employee-register.is-employee,
.mobile-employee-register .register-result-tips {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}
.mobile-employee-register.is-employee .is-employee-btn,
.mobile-employee-register .register-result-tips .is-employee-btn,
.mobile-employee-register.is-employee .register-result-btn,
.mobile-employee-register .register-result-tips .register-result-btn {
  margin: 5rem auto 0;
  background: #fff;
  width: 12rem;
  padding: 4rem 1rem;
  border-radius: 0.5rem;
  -moz-box-shadow: 0 0 1rem;
  -webkit-box-shadow: 0 0 1rem;
  box-shadow: 0 0 1rem;
}
.mobile-employee-register.is-employee .is-employee-btn .tip,
.mobile-employee-register .register-result-tips .is-employee-btn .tip,
.mobile-employee-register.is-employee .register-result-btn .tip,
.mobile-employee-register .register-result-tips .register-result-btn .tip {
  display: block;
  margin: 1rem 0 0;
  text-align: center;
  font-size: 1rem;
  color: #545454;
}
.mobile-employee-qrcode .qrcode {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
}
.mobile-employee-qrcode .qrcode canvas,
.mobile-employee-qrcode .qrcode .subscription-qrcode {
  display: block;
  margin: 6rem auto 0;
  width: 15rem;
  height: 15rem;
}
.mobile-employee-qrcode .qrcode-error {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
.mobile-employee-qrcode .qrcode-error .tip {
  margin: 6rem auto 0;
  width: 13rem;
  padding: 4rem 1rem;
  -moz-box-shadow: 0 0 1rem;
  -webkit-box-shadow: 0 0 1rem;
  box-shadow: 0 0 1rem;
  border-radius: 0.5rem;
  background: #fff;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1rem;
}
.mobile-employee-message .header {
  padding: 1.5rem 2rem 1rem;
  background: #59c993;
  text-align: center;
}
.mobile-employee-message .header .avatar {
  display: block;
  margin: 0.5rem auto;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.mobile-employee-message .msg-item {
  margin: 0.2rem 0;
  padding: 0 1rem;
  background: #fff;
  line-height: 2.5rem;
  font-size: 0.85rem;
}
.mobile-employee-message .msg-item .text {
  float: left;
  width: 5rem;
}
.mobile-employee-message .msg-item .action {
  float: right;
  color: #ff6600;
}
.mobile-employee-message .department-update-btn {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}
.mobile-employee-message .department-update-btn form.department {
  margin: 4rem auto 0;
  background: #fff;
  width: 15rem;
  padding: 4rem 1rem 2rem;
  border-radius: 0.5rem;
  -moz-box-shadow: 0 0 1rem;
  -webkit-box-shadow: 0 0 1rem;
  box-shadow: 0 0 1rem;
}
.mobile-employee-message .department-update-btn form.department .department {
  display: block;
  position: relative;
  margin: 1rem auto;
  width: 14rem;
  height: 2.3rem;
  border: 1px solid #9b9b9b;
  border-radius: 0.3rem;
  background: #fff;
}
.mobile-employee-message .department-update-btn form.department .department .show-layer {
  display: block;
  line-height: 2.5rem;
  text-indent: 0.5rem;
  font-size: 1rem;
  color: #9b9b9b;
}
.mobile-employee-message .department-update-btn form.department .department select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 15rem;
  box-sizing: border-box;
  border: none;
}
.mobile-employee-message .department-update-btn form.department .department.subordinate-department {
  display: none;
}
.mobile-employee-message .department-update-btn form.department .action-btn {
  display: inline-block;
  margin: 1rem 0 0 2rem;
  width: 4rem;
  height: 2rem;
  box-sizing: border-box;
  line-height: 2rem;
  border: none;
  border-radius: 0.3rem;
  background: #00a0e9;
  text-align: center;
  color: #fff;
}
.mobile-employee-message .check-fans-btn {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
}
.mobile-employee-message .check-fans-btn form.fans-count {
  margin: 4rem auto 0;
  background: #fff;
  width: 16rem;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  -moz-box-shadow: 0 0 1rem;
  -webkit-box-shadow: 0 0 1rem;
  box-shadow: 0 0 1rem;
}
.mobile-employee-message .check-fans-btn form.fans-count .title {
  display: block;
  margin: 0.5rem 0 1rem;
  text-align: center;
  font-size: 1rem;
}
.mobile-employee-message .check-fans-btn form.fans-count .check-date {
  text-align: center;
}
.mobile-employee-message .check-fans-btn form.fans-count .check-date label input {
  width: 4.5rem;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #9b9b9b #00a0e9;
  text-align: center;
  font-size: 0.8rem;
}
.mobile-employee-message .check-fans-btn form.fans-count .check-result {
  display: block;
  line-height: 6rem;
  text-align: center;
  font-size: 3.5rem;
  color: #ff6600;
}
.mobile-employee-message .check-fans-btn form.fans-count .action-btn {
  display: inline-block;
  margin: 1rem 0 0 2rem;
  width: 4rem;
  height: 2rem;
  box-sizing: border-box;
  line-height: 2rem;
  border: none;
  border-radius: 0.3rem;
  background: #00a0e9;
  text-align: center;
  color: #fff;
}
.mobile-employee-message.no-employee {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}
.mobile-employee-message.no-employee .no-employee-btn {
  margin: 5rem auto 0;
  background: #fff;
  width: 12rem;
  padding: 4rem 1rem;
  border-radius: 0.5rem;
  -moz-box-shadow: 0 0 1rem;
  -webkit-box-shadow: 0 0 1rem;
  box-shadow: 0 0 1rem;
}
.mobile-employee-message.no-employee .no-employee-btn .tip {
  display: block;
  margin: 1rem 0 0;
  text-align: center;
  font-size: 1rem;
  color: #545454;
}
