img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
del {
  text-decoration: line-through;
}
input {
  font-size: inherit;
  color: inherit;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.pull-left,
.alignleft {
  float: left;
}
.pull-right,
.alignright {
  float: right;
}
.aligncenter {
  margin-left: auto;
  margin-right: auto;
}
.clear-fix {
  clear: both;
  zoom: 1;
}
.clear-fix::before {
  content: "";
  display: table;
}
.clear-fix::after {
  content: "";
  display: table;
  clear: both;
}
.float-wrapper {
  display: inline-block;
  width: 100%;
  zoom: 1;
}
.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.circle {
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
}
.font-content {
  font-family: '兰亭中黑', '兰亭纤黑', '兰亭特黑', '思源黑体', SYHT, 'Microsoft Yahei', '微软雅黑', Arial, Helvetica, sans-serif;
}
.font-content1 {
  font-family: '宋体', '兰亭中黑', '兰亭纤黑', '兰亭特黑', '思源黑体', SYHT, 'Microsoft Yahei', '微软雅黑', Arial, Helvetica, sans-serif;
}
.font-content2 {
  font-family: '方正姚体', '华文中宋', '兰亭纤黑', '兰亭中黑', '兰亭特黑', '思源黑体', SYHT, 'Microsoft Yahei', '微软雅黑', Arial, Helvetica, sans-serif;
}
.font-content3 {
  font-family: '华文中宋', '兰亭纤黑', '兰亭中黑', '兰亭特黑', '思源黑体', SYHT, 'Microsoft Yahei', '微软雅黑', Arial, Helvetica, sans-serif;
}
.test {
  background: #ff7d44;
}
.test1 {
  background: #ff6666;
}
