img { max-width: 100%; }
a { text-decoration: none; color: inherit; }
strong { font-weight: bold; }
em { font-style: italic; }
del { text-decoration: line-through; }
input { font-size: inherit; color: inherit; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.pull-left, .alignleft { float: left; }
.pull-right, .alignright { float: right; }
.aligncenter { margin-left: auto; margin-right: auto; }

.clear-fix {
  clear: both; zoom: 1;
  &::before { content:""; display:table; }
  &::after { content:""; display:table; clear:both; }
}

.float-wrapper { display: inline-block; width: 100%; zoom: 1; }

.nowrap { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.rounded-corners (@radius: 4px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.opacity(@value: 1) {
  -moz-opacity: @value;
  -khtml-opacity: @value;
  opacity: @value;
}

.circle { .rounded-corners(9999px); }

.fixed-position(@top: auto, @right: auto, @bottom: auto, @left: auto) {
  top: @top;
  right: @right;
  bottom: @bottom;
  left: @left;
}

.placeholder-color(@color: inherit) {
  &::-webkit-input-placeholder { color: @color; }
  &:-moz-placeholder { color: @color; }
  &::-moz-placeholder { color: @color; }
  &:-ms-input-placeholder { color: @color; }
}

.rotate(@angle) {
  transform: rotate(@angle);
  -ms-transform: rotate(@angle); 	/* IE 9 */
  -moz-transform: rotate(@angle); 	/* Firefox */
  -webkit-transform: rotate(@angle); /* Safari Chrome */
  -o-transform: rotate(@angle); 	/* Opera */
}

.scale(@x, @y:@x) {
  transform: scale(@x, @y);
  -ms-transform: scale(@x, @y); 	/* IE 9 */
  -moz-transform: scale(@x, @y); 	/* Firefox */
  -webkit-transform: scale(@x, @y); /* Safari Chrome */
  -o-transform: scale(@x, @y); 	/* Opera */
}

.box-shadow(@shadow: 0 0 0.5em fade(#1b1b1b, 25%)) {
  -moz-box-shadow: @shadow;
  -webkit-box-shadow: @shadow;
  box-shadow: @shadow;
}

.background-gradient(@start: top, @start-color: rgba(255, 255, 255, 0), @to-color: rgba(0, 0, 0, 0.9)) {
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(@start, @start-color, @to-color);
  /* Safari 4-5, Chrome 1-9 */
  /* -webkit-gradient(,  [, ]?,  [, ]? [, ]*) */
  background: -webkit-gradient(linear, @start, from(@start-color), to(@to-color));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(@start, @start-color, @to-color);
  /* Opera 11.10+ */
  background: -o-linear-gradient(@start, @start-color, @to-color);
}

.font-content {
  font-family: '兰亭中黑', '兰亭纤黑', '兰亭特黑', '思源黑体', SYHT, 'Microsoft Yahei', '微软雅黑', Arial, Helvetica, sans-serif;
}
.font-content1 {
  font-family: '宋体', '兰亭中黑', '兰亭纤黑', '兰亭特黑', '思源黑体', SYHT, 'Microsoft Yahei', '微软雅黑', Arial, Helvetica, sans-serif;
}
.font-content2 {
  font-family: '方正姚体', '华文中宋', '兰亭纤黑', '兰亭中黑', '兰亭特黑', '思源黑体', SYHT, 'Microsoft Yahei', '微软雅黑', Arial, Helvetica, sans-serif;
}
.font-content3 {
  font-family: '华文中宋', '兰亭纤黑', '兰亭中黑', '兰亭特黑', '思源黑体', SYHT, 'Microsoft Yahei', '微软雅黑', Arial, Helvetica, sans-serif;
}

.transform(@deg) {
  transform:rotate(@deg);
  -ms-transform:rotate(@deg); /* Internet Explorer */
  -moz-transform:rotate(@deg); /* Firefox */
  -webkit-transform:rotate(@deg); /* Safari 和 Chrome */
  -o-transform:rotate(@deg); /* Opera */
}

.test { background: #ff7d44; }
.test1 { background: #ff6666; }