@import (less) "reset.min.css";
@import "template";

// employ/list.html and employee/add.html
.web-employee-list, .web-employee-add {
  table {
    thead {
      tr {
        th {
          text-align: center;
          &.id { width: 5%; }
          &.avatar { width: 5%; }
          &.slug { width: 18%; }
          &.real-name { width: 15%; }
          &.gender { width: 5%; }
          &.department { width: 18%; }
          &.read-count { width: 10%; }
          &.fans-count { width: 10%; }
          &.action { width: 20%; }
        }
      }
    }
    tbody {
      tr td {
        text-align: center;
        &.action {
          a {
            display: inline-block;
            margin: auto;
            width: 45px;
            line-height: 28px;
            padding: 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: center;
          }
        }
      }
    }
  }
  &.web-employee-add {
    .panel-info {
      .panel-body {
        margin-bottom: 15px;
        form.search-form {
          select.btn {
            height: 34px;
          }
        }
      }
    }
  }
}

// employee/edit.html
.web-employee-edit, .web-employee-setting {
  .panel-default {
    .panel-body {
      div.form-group {
        overflow: hidden;
        margin-top: 5px;
        line-height: 30px;
        .control-label { text-align: right; }
        .col-sm-9 {
          font-weight: normal;
          img.avatar { width: 132px; }
          input[type=submit] { width: 100px; }
        }
        .help-block {
          font-size: 14px;
        }
      }
    }
    &.basic-msg {
      .panel-heading {
        position: relative;
        a.edit-basic {
          position: absolute;
          top: 5px; right: 20px;
          padding: 5px 18px;
          border: none;
          background-color: #428BCA;
          color: #fff;
        }
      }
    }
  }
}

// employee/id.html
.web-employee-id {
  .panel-info {
    padding: 0 0 20px;
    form.add-form {
      #excel-input {
        display: none;
      }
    }
  }
  .panel-default {
    .panel-heading {
      position: relative;
      font-size: 16px;
      .action-btn {
        position: absolute;
        .fixed-position(0, 0, 0);
        .select-all {
          position: relative;
          font-size: 12px;
        }
        .deleted {
          margin: 0 0 0 20px;
          // padding: 7px 12px;
          font-size: 16px;
        }
      }
    }
    .panel-body {
      form.add-form {
      }
      form.list-form {
        padding: 0 0 10px;
        ul.employee-ids {
          li.item {
            display: inline-block;
            margin: 10px 0 0;
            width: 195px;
            label {
              display: block;
              width: 170px;
              input[type=checkbox] {
              }
              .text {
                display: inline-block;
                padding: 0 0 0 5px;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

// department/list.html
.web-department-list {
  .panel-body {
    table {
      tbody {
        tr {
          td {
            input[type=text] { display: none; }
            .cancel, .save { display: none; }
          }
        }
      }
    }
  }
}

// statistics/index.html
.web-statistics-index {
  .panel-body {
    form.statistics-form {
      div.form-group {
        overflow: hidden;
        margin-top: 5px;
        label {
          &.superior {
            width: 35%;
          }
          &.subordinate {
            width: 40%;
            select {
              //display: none;
            }
          }
        }
      }
    }
  }
}

