/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
del {
  text-decoration: line-through;
}
input {
  font-size: inherit;
  color: inherit;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.pull-left,
.alignleft {
  float: left;
}
.pull-right,
.alignright {
  float: right;
}
.aligncenter {
  margin-left: auto;
  margin-right: auto;
}
.clear-fix {
  clear: both;
  zoom: 1;
}
.clear-fix::before {
  content: "";
  display: table;
}
.clear-fix::after {
  content: "";
  display: table;
  clear: both;
}
.float-wrapper {
  display: inline-block;
  width: 100%;
  zoom: 1;
}
.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.circle {
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
}
.font-content {
  font-family: '兰亭中黑', '兰亭纤黑', '兰亭特黑', '思源黑体', SYHT, 'Microsoft Yahei', '微软雅黑', Arial, Helvetica, sans-serif;
}
.font-content1 {
  font-family: '宋体', '兰亭中黑', '兰亭纤黑', '兰亭特黑', '思源黑体', SYHT, 'Microsoft Yahei', '微软雅黑', Arial, Helvetica, sans-serif;
}
.font-content2 {
  font-family: '方正姚体', '华文中宋', '兰亭纤黑', '兰亭中黑', '兰亭特黑', '思源黑体', SYHT, 'Microsoft Yahei', '微软雅黑', Arial, Helvetica, sans-serif;
}
.font-content3 {
  font-family: '华文中宋', '兰亭纤黑', '兰亭中黑', '兰亭特黑', '思源黑体', SYHT, 'Microsoft Yahei', '微软雅黑', Arial, Helvetica, sans-serif;
}
.test {
  background: #ff7d44;
}
.test1 {
  background: #ff6666;
}
.web-employee-list table thead tr th,
.web-employee-add table thead tr th {
  text-align: center;
}
.web-employee-list table thead tr th.id,
.web-employee-add table thead tr th.id {
  width: 5%;
}
.web-employee-list table thead tr th.avatar,
.web-employee-add table thead tr th.avatar {
  width: 5%;
}
.web-employee-list table thead tr th.slug,
.web-employee-add table thead tr th.slug {
  width: 18%;
}
.web-employee-list table thead tr th.real-name,
.web-employee-add table thead tr th.real-name {
  width: 15%;
}
.web-employee-list table thead tr th.gender,
.web-employee-add table thead tr th.gender {
  width: 5%;
}
.web-employee-list table thead tr th.department,
.web-employee-add table thead tr th.department {
  width: 18%;
}
.web-employee-list table thead tr th.read-count,
.web-employee-add table thead tr th.read-count {
  width: 10%;
}
.web-employee-list table thead tr th.fans-count,
.web-employee-add table thead tr th.fans-count {
  width: 10%;
}
.web-employee-list table thead tr th.action,
.web-employee-add table thead tr th.action {
  width: 20%;
}
.web-employee-list table tbody tr td,
.web-employee-add table tbody tr td {
  text-align: center;
}
.web-employee-list table tbody tr td.action a,
.web-employee-add table tbody tr td.action a {
  display: inline-block;
  margin: auto;
  width: 45px;
  line-height: 28px;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}
.web-employee-list.web-employee-add .panel-info .panel-body,
.web-employee-add.web-employee-add .panel-info .panel-body {
  margin-bottom: 15px;
}
.web-employee-list.web-employee-add .panel-info .panel-body form.search-form select.btn,
.web-employee-add.web-employee-add .panel-info .panel-body form.search-form select.btn {
  height: 34px;
}
.web-employee-edit .panel-default .panel-body div.form-group,
.web-employee-setting .panel-default .panel-body div.form-group {
  overflow: hidden;
  margin-top: 5px;
  line-height: 30px;
}
.web-employee-edit .panel-default .panel-body div.form-group .control-label,
.web-employee-setting .panel-default .panel-body div.form-group .control-label {
  text-align: right;
}
.web-employee-edit .panel-default .panel-body div.form-group .col-sm-9,
.web-employee-setting .panel-default .panel-body div.form-group .col-sm-9 {
  font-weight: normal;
}
.web-employee-edit .panel-default .panel-body div.form-group .col-sm-9 img.avatar,
.web-employee-setting .panel-default .panel-body div.form-group .col-sm-9 img.avatar {
  width: 132px;
}
.web-employee-edit .panel-default .panel-body div.form-group .col-sm-9 input[type=submit],
.web-employee-setting .panel-default .panel-body div.form-group .col-sm-9 input[type=submit] {
  width: 100px;
}
.web-employee-edit .panel-default .panel-body div.form-group .help-block,
.web-employee-setting .panel-default .panel-body div.form-group .help-block {
  font-size: 14px;
}
.web-employee-edit .panel-default.basic-msg .panel-heading,
.web-employee-setting .panel-default.basic-msg .panel-heading {
  position: relative;
}
.web-employee-edit .panel-default.basic-msg .panel-heading a.edit-basic,
.web-employee-setting .panel-default.basic-msg .panel-heading a.edit-basic {
  position: absolute;
  top: 5px;
  right: 20px;
  padding: 5px 18px;
  border: none;
  background-color: #428BCA;
  color: #fff;
}
.web-employee-id .panel-info {
  padding: 0 0 20px;
}
.web-employee-id .panel-info form.add-form #excel-input {
  display: none;
}
.web-employee-id .panel-default .panel-heading {
  position: relative;
  font-size: 16px;
}
.web-employee-id .panel-default .panel-heading .action-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
}
.web-employee-id .panel-default .panel-heading .action-btn .select-all {
  position: relative;
  font-size: 12px;
}
.web-employee-id .panel-default .panel-heading .action-btn .deleted {
  margin: 0 0 0 20px;
  font-size: 16px;
}
.web-employee-id .panel-default .panel-body form.list-form {
  padding: 0 0 10px;
}
.web-employee-id .panel-default .panel-body form.list-form ul.employee-ids li.item {
  display: inline-block;
  margin: 10px 0 0;
  width: 195px;
}
.web-employee-id .panel-default .panel-body form.list-form ul.employee-ids li.item label {
  display: block;
  width: 170px;
}
.web-employee-id .panel-default .panel-body form.list-form ul.employee-ids li.item label .text {
  display: inline-block;
  padding: 0 0 0 5px;
  font-size: 16px;
}
.web-department-list .panel-body table tbody tr td input[type=text] {
  display: none;
}
.web-department-list .panel-body table tbody tr td .cancel,
.web-department-list .panel-body table tbody tr td .save {
  display: none;
}
.web-statistics-index .panel-body form.statistics-form div.form-group {
  overflow: hidden;
  margin-top: 5px;
}
.web-statistics-index .panel-body form.statistics-form div.form-group label.superior {
  width: 35%;
}
.web-statistics-index .panel-body form.statistics-form div.form-group label.subordinate {
  width: 40%;
}
