{template 'web/_header'}

<div class="web-employee-add">
    <div class="panel panel-info">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
            <form class="search-form" method="post"
                  action="{php echo $this->wUrl('employee/web_employee_add/search');}">
                <div class="form-group">
                    <div class="col-sm-9 col-md-8 col-lg-8 col-xs-12">
                        <div class="input-group">
                            <label class="input-group-btn">
                                <select class="btn btn-default" name="search_key">
                                    <option value="uid">编号</option>
                                    <option value="nickname" {if $search_key =='nickname'}selected{/if}>昵称</option>
                                    <option value="realname" {if $search_key =='realname'}selected{/if}>姓名</option>
                                </select>
                            </label>
                            <label for="search-value"></label>
                            <input type="text" class="form-control" id="search-value"
                                   name="search_value" value="{$search_value}" />
                        </div>
                    </div>
                    <div class="pull-right col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        <!--<button class="btn btn-default">-->
                            <!--<i class="fa fa-search"></i> 搜索</button>-->
                        <button type="submit" name="search_submit" value="search" class="btn btn-default">
                            <i class="fa fa-search"></i> 搜索
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {if $members}
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <thead class="navbar-inner">
                <tr>
                    <th class="id">编号</th>
                    <th class="avatar">头像</th>
                    <th class="slug">别名</th>
                    <th class="real-name">姓名</th>
                    <th class="gender">性别</th>
                    <th class="email">邮箱</th>
                    <th class="phone">手机</th>
                    <th class="action">操作</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {loop $members $item}
                <tr class="member-{$item['uid']}">
                    <td>{$item['uid']}</td>
                    <td><img class="avatar" src="{$item['avatar']}" /></td>
                    <td>{$item['nickname']}</td>
                    <td>{php echo $item['realname'] ?: '未完善';}</td>
                    <td>{$item['gender_text']}</td>
                    <td>{php echo $item['email'] ?: '未完善';}</td>
                    <td>{php echo $item['telephone'] ?: '未完善';}</td>
                    <td class="action">
                        <a class="add btn btn-default"
                           href="javascript:;"
                           data-uid="{$item['uid']}"
                           data-nickname="{$item['nickname']}"
                           data-url="{php echo $this->wUrl('employee/web_employee_add/add');}">添加</a>
                    </td>
                    <td></td>
                </tr>
                {/loop}
                </tbody>
            </table>
            {$pager}
        </div>
    </div>
    {/if}
</div>