{template 'web/_header'}

<div class="web-employee-edit">
    <div class="panel panel-default basic-msg">
        <div class="panel-heading">
            <span>基本资料</span>
            <a class="edit-basic btn btn-default" href="{php echo wurl('mc/member/post', array('uid' => $employee['uid']));}">编辑</a>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-md-2">头像</label>
                <label class="col-sm-9 col-xs-12">
                    <img class="avatar img-responsive img-thumbnail"
                         src="{$employee['mc']['avatar']}" />
                </label>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">昵称</label>
                <label class="col-sm-9 col-xs-12">{$employee['mc']['nickname']}</label>
            </div>
            <!--<div class="form-group">-->
                <!--<label class="control-label col-md-2">姓名</label>-->
                <!--<label class="col-sm-9 col-xs-12">{php echo $employee['real_name'] ?: ($employee['mc']['realname'] ?: '未完善');}</label>-->
            <!--</div>-->
        </div>
    </div>
    <div class="panel panel-default employee-msg">
        <div class="panel-heading">员工资料</div>
        <div class="panel-body">
            <form class="employee-edit-form" enctype="multipart/form-data" method="post"
                  action="{php echo $this->wUrl('employee/web_employee_edit/update');}">
                <div class="form-group">
                    <label class="control-label col-md-2">工号</label>
                    <label class="col-sm-9 col-xs-12">
                        <input type="text" class="form-control"
                               name="employee[employee_id]"
                               value="{php echo $employee['employee_id'] ?: '';}" />
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">姓名</label>
                    <label class="col-sm-9 col-xs-12">
                        <input type="text" class="form-control"
                               name="employee[employee_name]"
                               value="{php echo $employee['employee_name'] ?: '';}" />
                    </label>
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="control-label col-md-2">工号</label>-->
                    <!--<label class="col-sm-9 col-xs-12">{$employee['employee_id']}</label>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="control-label col-md-2">姓名</label>-->
                    <!--<label class="col-sm-9 col-xs-12">{php echo $employee['employee_name'] ?: ($employee['mc']['realname'] ?: '未完善');}</label>-->
                <!--</div>-->
                <div class="form-group">
                    <label class="control-label col-md-2">部门</label>
                    <label class="col-sm-9 col-xs-12">{$employee['department']}</label>
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="control-label col-md-2">所属部门</label>-->
                    <!--<label class="col-sm-9 col-xs-12">-->
                        <!--<input type="text" class="form-control"-->
                               <!--name="employee[department]"-->
                               <!--value="{php echo $employee['department'] ?: '';}" />-->
                    <!--</label>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="control-label col-md-2">文章阅读量</label>-->
                    <!--<label class="col-sm-9 col-xs-12">-->
                        <!--<input type="text" class="form-control"-->
                               <!--name="employee[read_count]"-->
                               <!--value="{$employee[read_count]}" />-->
                    <!--</label>-->
                <!--</div>-->
                <div class="form-group">
                    <label class="control-label col-md-2">拓展粉丝数</label>
                    <label class="col-sm-9 col-xs-12">{$employee['real_fans_count']}</label>
                    <!--<label class="col-sm-9 col-xs-12">-->
                        <!--<input type="text" class="form-control"-->
                               <!--name="employee[fans_count]"-->
                               <!--value="{$employee['fans_count']}" />-->
                    <!--</label>-->
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">推广二维码</label>
                    <div class="col-sm-9 col-xs-12">
                        <div class="employee-qrcode"
                             data-url="{$qrcode_url}"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2"></label>
                    <div class="col-sm-9">
                        <input type="hidden" name="id" value="{$employee['id']}" />
                        <input type="hidden" name="token" value="{$_W['token']}" />
                        <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{template 'common/footer'}