{template 'web/_header'}

<div class="web-employee-id">
    <div class="panel panel-info">
        <div class="panel-heading">添加工号</div>
        <div class="panel-body">
            <form class="add-form" method="post" enctype="multipart/form-data"
                  action="{php echo $this->wUrl('employee/web_employee_id/add');}">
                <div class="form-group">
                    <div class="col-sm-9 col-md-8 col-lg-8 col-xs-12">
                        <div class="input-group">
                            <label class="input-group-btn">
                                <select class="btn btn-default" name="input_type">
                                    <option value="manual">手动输入</option>
                                    <!--<option value="excel">Excel导入</option>-->
                                </select>
                            </label>
                            <label class="manual-input employee-id input-group-btn" style="width: 40%;">
                                <input type="text" class="form-control" id="employee-id"
                                       name="employee_id" value=""
                                       placeholder="工号" />
                            </label>
                            <label class="manual-input employee-name input-group-btn" style="width: 40%;">
                                <input type="text" class="form-control" id="employee-name"
                                       name="employee_name" value=""
                                       placeholder="姓名" />
                            </label>
                            <label class="excel-input" for="excel-input"></label>
                            <input type="file" class="form-control" id="excel-input"
                                   name="excel" value="" />
                        </div>
                    </div>
                    <div class="pull-right col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        <input type="hidden" name="token" value="{$_W['token']}" />
                        <input type="submit" class="btn btn-primary"
                               name="submit" value="添加" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    {if $employee_ids}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="title">工号列表</span>
            <div class="action-btn">
                <label class="select-all">
                    <input type="checkbox" name="select_all" value="" />
                    <span class="text">全选</span>
                </label>
                <a class="deleted btn btn-primary" href="javascript:;"
                   data-url="{php echo $this->wUrl('employee/web_employee_id/delete');}">删除所选</a>
            </div>
        </div>
        <div class="panel-body">
            <form class="list-form" method="post" action="">
                <ul class="employee-ids">
                    {loop $employee_ids $item}
                    <li class="item">
                        <label>
                            <input type="checkbox" name="employee_id"
                                   value="{$item['employee_id']}" />
                            <span class="text">{php echo $item['employee_id'] . '：' . $item['employee_name']}</span>
                        </label>
                    </li>
                    {/loop}
                </ul>
            </form>
            {$pager}
        </div>
    </div>
    {/if}
</div>