{template 'web/_header'}

<div class="web-employee-list">
    <div class="panel panel-default">
        <div class="panel-body table-responsive">
            <table class="table table-hover">
                <thead class="navbar-inner">
                <tr>
                    <th class="id">工号</th>
                    <th class="avatar">头像</th>
                    <th class="slug">昵称</th>
                    <th class="real-name">姓名</th>
                    <th class="gender">性别</th>
                    <th class="department">部门</th>
                    <!--<th class="read-count">文章阅读量</th>-->
                    <th class="fans-count">拓展粉丝数</th>
                    <th class="action">操作</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {loop $employees $item}
                <tr class="employee-{$item['id']}">
                    <td>{$item['employee_id']}</td>
                    <td><img class="avatar" src="{$item['mc']['avatar']}" /></td>
                    <td>{$item['mc']['nickname']}</td>
                    <td>{php echo $item['employee_name'] ?: ($item['mc']['realname'] ?: '未完善');}</td>
                    <td>{$item['mc']['gender_text']}</td>
                    <td>{php echo $item['department'] ?: '未完善';}</td>
                    <!--<td>{$item['read_count']}</td>-->
                    <td>{$item['real_fans_count']}</td>
                    <td class="action">
                        <a class="edit btn btn-default"
                           href="{php echo $this->wUrl('employee/web_employee_edit/index', array('uid' => $item['uid']));}">编辑</a>
                        <a class="delete btn btn-default" href="javascript:;"
                           data-id="{$item['id']}"
                           data-name="{php echo $item['real_name'] ?: ($item['mc']['realname'] ?: $item['mc']['nickname'])}"
                           data-url="{php echo $this->wUrl('employee/web_employee_list/delete');}">删除</a>
                    </td>
                    <td></td>
                </tr>
                {/loop}
                </tbody>
            </table>
            {$pager}
        </div>
    </div>
</div>

{template 'common/footer'}