{template 'web/_header'}

<div class="web-department-add">
    <div class="panel panel-info">
        <div class="panel-heading">选择</div>
        <div class="panel-body">
            <form class="search-form" method="post"
                  action="{php echo $this->wUrl('department/web_department_add/add');}">
                <div class="form-group">
                    <div class="col-sm-9 col-md-8 col-lg-8 col-xs-12">
                        <div class="input-group">
                            <label class="input-group-btn">
                                <select class="btn btn-default" name="superior_id">
                                    <option value="0">一级部门</option>
                                    {loop $departments $item}
                                    <option value="{$item['id']}">{$item['name']}</option>
                                    {/loop}
                                </select>
                            </label>
                            <label for="search-value"></label>
                            <input type="text" class="form-control" id="search-value"
                                   name="department_name" value="" required />
                        </div>
                    </div>
                    <div class="pull-right col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        <input type="hidden" name="token" value="{$_W['token']}" />
                        <input type="submit" name="submit" value="添加" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>