{template 'web/_header'}

<div class="web-department-list">
    <div class="panel panel-default">
        <div class="panel-body table-responsive">
            <table class="table table-hover">
                <thead class="navbar-inner">
                <tr>
                    <th class="level1">一级部门</th>
                    <th class="level2">二级部门</th>
                    <th class="numbers">人数</th>
                    <th class="action">操作</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {loop $departments $item}
                <tr class="department-{$item['id']}">
                    <td>
                        {if $item['superior_id'] == 0}
                        <span class="">{$item['name']}</span>
                        <input type="text" class="form-control"
                               name="department_name" value="{$item['name']}" />
                        {/if}
                    </td>
                    <td>
                        {if $item['superior_id'] > 0}
                        <span class="">{$item['name']}</span>
                        <input type="text" class="form-control"
                               name="department_name" value="{$item['name']}" />
                        {/if}
                    </td>
                    <td>{$item['numbers']}</td>
                    <td class="action">
                        <a class="edit btn btn-default" href="javascript:;">编辑</a>
                        <a class="delete btn btn-default" href="javascript:;"
                           data-id="{$item['id']}"
                           data-superior_id="{$item['superior_id']}"
                           data-name="{$item['name']}"
                           data-url="{php echo $this->wUrl('department/web_department_list/delete');}">删除</a>
                        <a class="cancel btn btn-default" href="javascript:;">取消</a>
                        <a class="save btn btn-default" href="javascript:;"
                           data-id="{$item['id']}"
                           data-url="{php echo $this->wUrl('department/web_department_list/save');}">保存</a>
                    </td>
                    <td></td>
                </tr>
                {/loop}
                </tbody>
            </table>
            {$pager}
        </div>
    </div>
</div>

{template 'common/footer'}