{template 'web/_header'}

<div class="web-setting-index">
    <div class="panel panel-default">
        <div class="panel-heading">订阅号信息</div>
        <div class="panel-body">
            <form class="employee-setting-form" method="post"
                  action="{php echo $this->wUrl('setting/web_setting_index/setting');}">
                <div class="form-group">
                    <label class="control-label col-md-2">订阅号ID</label>
                    <label class="col-sm-9 col-xs-12">
                        <input type="text" class="form-control" required
                               name="setting[subscription_uniacid]"
                               value="{$setting['subscription_uniacid']}" />
                        <span class="help-block">
                            左上角【返回系统】，在公众号管理中找到订阅号，
                            然后点击订阅号下面的【编辑】进入【账号基本信息】页面。
                            在【接口地址】选项中，链接的后面有一段"?id=xxx"，
                            这个 xxx 就是订阅号的ID。
                        </span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">订阅号二维码</label>
                    <div class="col-sm-9 col-xs-12">
                        <span class="help-block">
                            将订阅号的二维码上传到【账号基本信息】页面中的【二维码】选项（页面位置同上）。<br />
                            二维码获取：登录订阅号的<a href="https://mp.weixin.qq.com" target="_blank">微信公众号平台</a>，
                            在【公众号设置】=>【账号详情】可以下载订阅号的二维码。
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2"></label>
                    <div class="col-sm-9">
                        <input type="hidden" name="token" value="{$_W['token']}" />
                        <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{template 'common/footer'}